---
const {LANG, price} = Astro.props;
---

<section class="Service-price">

    <h3 class="Service-price-title">{LANG.title}</h3>

    <article class="Service-price-content">

        <div class="Service-card">

            <span class="Service-card-title">{LANG.middle.title}</span>

            <span>{LANG.middle.hours.at(0)}</span>

            <span class="Service-card-price">{price?.middle}</span>

            <span>{LANG.middle.hours.at(1)}</span>

            <ul>
                {
                    LANG.middle.details.map((text) => {

                        return <li>{text}</li>
                    })
                }
            </ul>
        </div>

        <div class="Service-card">
            
            <span class="Service-card-title">{LANG.full.title}</span>

            <span>{LANG.full.hours.at(0)}</span>

            <span class="Service-card-price">{price?.full}</span>

            <span>{LANG.full.hours.at(1)}</span>

            <ul>
                {
                    LANG.full.details.map((text) => {

                        return <li>{text}</li>
                    })
                }
            </ul>
        </div>

    </article>
</section>

<style>

    .Service-price {
        padding: 150px 50px;
        background-color: #fff;

        display: flex;
        align-items: center;
        gap: 50px;

        @media (max-width: 991.98px) {
            flex-wrap: wrap;
        }

        .Service-price-title {
            flex-shrink: 1;
            text-align: center;
            font-size: clamp(35px, 5vw, 70px);
            font-weight: bold;
            font-family: var(--title-font);
            letter-spacing: 5px;
            text-wrap: balance;
            max-width: 18ch;
            color: #040e5f;

            @media (max-width: 991.98px) {
                max-width: initial;
            }
        }

        .Service-price-content {
            flex-grow: 1;
            display: flex;
            justify-content: space-around;
            gap: 50px 30px;

            @media (max-width: 767.98px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            .Service-card {
                max-width: 320px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                background-color: #fff;
                padding: 20px;
                box-shadow: 0px 0px 10px 0px #00000030;

                span {
                    text-align: center;
                    font-size: 30px;
                    font-family: var(--title-font);
                    letter-spacing: 5px;
                    white-space: nowrap;
                }
                .Service-card-title {
                    color: #040e5f;
                    font-weight: bold;
                }
                .Service-card-price {
                    color: #040e5f;
                    font-size: 70px;
                    font-weight: bold;
                }
                ul {
                    margin-top: auto;
                    padding-top: 50px;
                    color: #555555;
                    list-style-position: outside;
                    list-style-type: "- ";
                    font-family: var(--text-font);
                    letter-spacing: 1px;
                    font-size: 14px;

                    li {
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
</style>