---
import Odometer from "../Animated/Odometer.astro";

const {LANG} = Astro.props;
---

<article class="Service-stats">

    <h4 class="Service-stats-title">{LANG.stats.title}</h4>

    <div class="Service-stats-content">
        {
            LANG.stats.numbers.map(({value, text}) => {

                const {number, start, end} = value;

                return <div class="stat-card">


                    <Odometer value={number}>
                        {start && <span slot="start">{start}</span>}
                        {end && <span slot="end">{end}</span>}
                    </Odometer>

                    <p>{text}</p>
                </div>
            })
        }

    </div>



    <p class="Service-stats-details">{LANG.stats.details}</p>


</article>

<style>
    .Service-stats {
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;

        font-family: var(--titles-font);
        text-align: center;

        & .Service-stats-content {
            display: flex;
            max-width: 1400px;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;
        }

        & .Service-stats-title {
            color: white;
            font-size: clamp(35px, 5vw, 60px);
            font-weight: bold;
            letter-spacing: 5px;
            text-shadow: 2px 3px 8px #000000a9;
            margin-bottom: 30px;
        }
        & .stat-card {
            font-size: 60px;
            font-weight: 600;
            letter-spacing: 2px;
            color: #424242;
            
            & p {
                font-size: 30px;
            }
        }

        .Service-stats-details {
            font-size: 16px;
            color: #000;
            letter-spacing: 2px;
        }
    }

</style>