---
import mark_1 from "@assets/mark_1.svg?raw";
import mark_2 from "@assets/mark_2.svg?raw";
import mark_3 from "@assets/mark_3.svg?raw";
import LANGUAGES from "@/i18n/index.js";

const LANG = LANGUAGES.get(Astro.currentLocale)?.about_service;
---

<section class="About-service container-fluid">

    <h2 class="About-service-title">{LANG.title}</h2>
    
    <div class="About-service-cards">

        <div class="About-service-card">
            <div class="About-service-mark" set:html={mark_1} />
            <div>
                <h6>{LANG.step_1_title}</h6>
    
                <p>{LANG.step_1_text}</p>
            </div>
        </div>

        <div class="About-service-card">
            <div class="About-service-mark" set:html={mark_2} />
            <div>
                <h6>{LANG.step_2_title}</h6>
    
                <p>{LANG.step_2_text}</p>
            </div>
        </div>

        <div class="About-service-card">
            <div class="About-service-mark" set:html={mark_3} />
            <div>
                <h6>{LANG.step_3_title}</h6>
    
                <p>{LANG.step_3_text}</p>
            </div>
        </div>
    </div>
</section>

<style>
    .About-service {
        margin-top: 100px; 
        padding-block: 100px;
        background-color: #eef9ff;

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;

        .About-service-title {
            color: #040e5f;
            max-width: 500px;
            text-align: center;
            font-size: clamp(25px, 5vw, 70px);
            letter-spacing: 5px;
            line-height: 1.7;
            font-weight: bold;
            margin: 0;
        }

        .About-service-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            justify-content: space-between;

            .About-service-card {
                max-width: 600px;
                padding: 20px;
                display: flex;
                align-items: center;
                gap: 20px;

                h6 {
                    color: #040e5f;
                    font-size: clamp(20px, 2vw, 30px);
                    letter-spacing: 3px;
                    font-family: var(--title-font);
                    font-weight: bold;
                }

                p {
                    padding-top: 20px;
                    font-size: clamp(14px, 2vw, 16px);
                    color: #000;
                    font-family: var(--text-font);
                    letter-spacing: 1px;
                    line-height: 1.7;
                }
            }
        }

        
    }
    
    .About-service-mark {
        color: #104cad;
        aspect-ratio: 150 / 250;
        width: 100px;
        flex-shrink: 0;
        margin-bottom: 20px;
        
        filter: drop-shadow(0px 0px 10px #00000050);

        & :global(svg) {
            width: 100%;
            height: 100%;
        }
    }
</style>