---
import { LINKS } from "@/utils/RedesUtils";
import LANGUAGES from "@/i18n/index.js";
import Modal from "@/components/Modal.astro";
import CalandlyEmbed from "../CalandlyEmbed.astro";
import Logo from "@/assets/logo.astro";

const LANG = LANGUAGES.get(Astro.currentLocale)?.contact;

const tel = LINKS['telephone'];
const calendly = LINKS['calendly'];
---


<section class="Contact container-fluid">

    <h4 class="Contact-heading">{LANG.heading_1}</h4>

    <div class="Contact-content">

        <Logo width="auto" height="130px"/>

        <div class="Contact-links">
    
            <Modal btnClass="btn-outline-primary btn-lg" id="Calendly-modal" title={LANG.link_1}>
                <span slot="modal-btn"><i class="bi bi-calendar2-event" /> {LANG.link_1}</span> 
    
                <div slot="modal-header" class="Calendar-title">
                    <i class="bi bi-calendar2-event" />
                    <h4 >{LANG.link_1}</h4>
                </div>
    
                <CalandlyEmbed height="500px" slot="modal-body"/>
            </Modal>
    
            <a class="btn btn-outline-primary btn-lg" href={tel.link} title={tel.label} target="_blank" rel="noopener noreferrer">
                <i class="bi bi-telephone"></i> {tel.label}
            </a>
    
        </div>

    </div>


</section>

<style>
    :global([data-theme="light"]){
        --contact-text-color: #040e5f;
    }

    .Contact { 
        padding-block: 50px 100px;
        background-color: #eef9ff;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .Contact-content {
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }

        .Contact-heading {
            font-weight: bold;
            font-size: clamp(25px, 5vw, 60px);
            letter-spacing: 5px;
            color: var(--contact-text-color);
        }

        .Contact-links {
            display: flex;
            flex-direction: column;
            
            gap: 30px;

            .btn {
                --bs-btn-hover-border-color: var(--contact-text-color);
                --bs-btn-hover-bg: var(--contact-text-color);
                --bs-btn-border-color: var(--contact-text-color);
                --bs-btn-color: var(--contact-text-color);

                i {
                    margin-inline: 0.2em;
                }
            }
        }



        .btn {
            --bs-btn-padding-x: 70px;
            --bs-btn-padding-y: 10px;
            font-family: var(--text-font);
            letter-spacing: 1px;
            white-space: nowrap;
        }

        .Calendar-title {
            display: flex;
            gap: 10px;
            align-items: center;
            color: var( --contact-text-color);

            .bi {
                font-size: 20px;
            }
            h4 {
                margin: 0;
                font-size: 20px;
                font-family: var(--title-font);
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
    }

</style>