---
import { LINKS } from "@/utils/RedesUtils";
import LANGUAGES from "@/i18n/index.js";

const LANG = LANGUAGES.get(Astro.currentLocale)?.contact;

const tel = LINKS['telephone'];
const calendly = LINKS['calendly'];
---


<section class="Contact container-fluid">

    <h5 class="Contact-heading">{LANG.heading_1}</h5>

    <div class="Contact-links">

        <a class="btn btn-outline-primary btn-lg" href={calendly.link} target="_blank" rel="noopener noreferrer">
            <i class="bi bi-calendar2-event"></i> {LANG.link_1}
        </a>

        <a class="btn btn-outline-primary btn-lg" href={tel.link} target="_blank" rel="noopener noreferrer">
            <i class="bi bi-telephone"></i> {tel.label}
        </a>

    </div>

    <h5 class="Contact-heading">{LANG.heading_2}</h5>

    <a class="btn btn-success btn-lg" href="/tarifas" target="_blank" rel="noopener noreferrer">
        {LANG.link_2}
    </a>

</section>

<style>
    :global([data-theme="light"]){
        --contact-text-color: #104cad;
    }

    .Contact { 
        padding-block: 50px 100px;
        background-color: #fff;
        /* border-radius: 10px; */

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        box-shadow: 0px 0px 10px 0px #00000070;

        .Contact-heading {
            font-weight: 200;
            font-size: 30px;
            color: var(--contact-text-color);
        }

        .Contact-links {
            padding-bottom: 50px;
            display: flex;
            gap: 50px;

            .btn {
                --bs-btn-hover-border-color: var(--contact-text-color);
                --bs-btn-hover-bg: var(--contact-text-color);
                --bs-btn-border-color: var(--contact-text-color);
                --bs-btn-color: var(--contact-text-color);

                i {
                    margin-inline: 0.2em;
                }
            }
        }



        .btn {
            --bs-btn-padding-x: 70px;
            --bs-btn-padding-y: 10px;
        }
    }

</style>