---
import {GROUP_1, GROUP_2} from "@assets/logos/index.js";

import LANGUAGES from "@/i18n/index.js";

const LANG = LANGUAGES.get(Astro.currentLocale)?.expirience;
---

<section class="Expirience container-fluid">

    <div class="Expirience-content container">

        <h2 class="Expirience-title">{LANG.title}</h2>
    
        <p class="Expirience-heading">{LANG.heading_1}</p>
    
        <div class="Expirience-icons">
            {
                GROUP_1.map(({name, image}) => {
    
                    return <img src={image.src} title={name} loading="lazy" alt={`Logo de ${name}`} />
                })
            }
        </div>
    
        <p class="Expirience-heading">{LANG.heading_2}</p>
    
        <div class="Expirience-icons">
            {
                GROUP_2.map(({name, image}) => {
    
                    return <img src={image.src} title={name} loading="lazy" alt={`Logo de ${name}`} />
                })
            }
        </div>
    </div>

</section>

<style>
    .Expirience {  

        padding-block: 100px;
        background-color: #fff;
        
        .Expirience-content {
            padding: 30px 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
    
            box-shadow: 0px 0px 10px 0px #00000070;
        }


        .Expirience-title {
            font-family: var(--title-font);
            font-size: clamp(25px, 5vw, 50px);
            letter-spacing: 5px;
            font-weight: bold;
            margin: 0;
        }
        .Expirience-heading {
            font-size: clamp(16px, 2vw, 20px);
            font-family: var(--text-font);
            letter-spacing: 1px;
            color: #000;
            text-align: center;
            text-wrap: balance;
            max-width: 100ch;
        }

        .Expirience-icons {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 50px 15px;

            img {
                width: 120px;
                object-fit: scale-down;
            }
        }
    }

</style>