---
import Logo from "@/assets/logo.astro";
import { REDES, COPYRIGHT, ADDRESS } from "@/config/index.js";
import LANGUAGES from "@/i18n/index.js";
import { LINKS } from "@/utils/RedesUtils";

const REDES_LINKS = [
    {
        name: 'Whatsapp',
        url: `https://wa.me/${REDES.whatsapp}`,
        bs_icon: 'bi-whatsapp',
        color: '#1f9e5c'
    },
    {
        name: 'Instagram',
        url: REDES.instagram,
        bs_icon: 'bi-instagram',
        color: '#ee2a7b'
    },
    {
        name: 'Facebook',
        url: REDES.facebook,
        bs_icon: 'bi-facebook',
        color: '#0866ff'
    },
    {
        name: 'Linkedin',
        url: REDES.linkedin,
        bs_icon: 'bi-linkedin',
        color: '#0077b5'
    }
];

const LANG = LANGUAGES.get(Astro.currentLocale)?.footer;

const FOOTER_LINKS = [
    {
        text: LANG.link_1,//Preguntas frecuentes
        url: '/preguntas-frecuentes'
    },
    {
        text: LANG.link_2,//Tarifas por posicíon
        url: '/servicios'
    },
    {
        text: LANG.link_3,//Desubscribirse del servicio
        url: 'https://prospect.ar'
    },
    {
        text: LANG.link_4,//¿Quieres desarrollar tu propia web?
        url: '/yo'
    },
    {
        text: LANG.link_5,//¿Tienes alguna sugerencia?
        url: '/web-form'
    },
];

const tel = LINKS['telephone'];
const email = LINKS['contacto'];
---

<footer class="Footer">

    <section class="Footer-content container">

        <ul class="Footer-links">
            {
                FOOTER_LINKS.map(({url, text}) => {

                    return <li>
                        <a href={url}>{text}</a>
                    </li>
                })
            }  
        </ul>

        <div class="Footer-contacto">
            <h2>CONTACTO</h2>

            <div>
                <a href={email.link}>{email.label}</a>
                <a href={tel.link}>{tel.label}</a>
            </div>

            <a href={ADDRESS.googlemaps} target="_blank" rel="noopener noreferrer">
                {
                    ADDRESS.label.split('-').map(text => <span>{text}</span>)
                }
            </a>
        </div>

        <div class="Footer-redes-content">

            <Logo width="170px" height="100px"/>

            <ul class="Footer-redes">
                {
                    REDES_LINKS.map(({url, name, bs_icon, color}) => {

                        return <li>
                            <a href={url} title={name}>
                                <i class={`bi ${bs_icon}`} style={{color}}/>
                            </a>
                        </li>
                    })
                }  
            </ul>
        </div>

    </section>

    <div class="Footer-copyright">
        <p>{COPYRIGHT}</p>
    </div>

</footer>

<style>
    :global(:root) {

    }
    :global([data-theme="dark"]) {

        --footer-bg: #fff;
    }
    :global([data-theme="light"]) {

        --footer-bg: #fff;
    }

    .Footer {
        padding-block: 50px 10px;
        background-color: var(--footer-bg);

        .Footer-content {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-evenly;
            gap: 50px 20px;
            padding-bottom: 50px;
        }

        .Footer-links {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            list-style: none;

            li {
                height: 40px;
            }
            
            a {
                display: block;
                white-space: nowrap;
                text-decoration: none;
                font-size: 16px;
                letter-spacing: 1px;
                font-family: var(--text-font);
                color: #000;
                transition: font-size 0.1s;
                line-height: 2;
            }
            a:hover {
                font-size: 18px;
                color: #0096fc;
            }
        }

        .Footer-redes-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .Footer-redes {
                padding-inline: 20px;
                display: flex;
                gap: 50px;
                list-style: none;
    
                a {
                    text-decoration: none;
                    font-size: 30px;
                    
                    & i:before {
                        transition: transform 0.1s;
                        filter: drop-shadow(0px 0px 1px #00000020);
                    }
                    &:hover i:before {
                        transform: scale3d(1.2, 1.2, 1);
                    }
                }
                
            }
        }

        .Footer-contacto {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 30px;

            a {
                display: block;
                text-decoration: none;
                text-wrap: balance;
                letter-spacing: 1px;
                font-size: 16px;
                font-family: var(--text-font);
                color: #000;
                transition: font-size 0.1s;
                line-height: 2;
                max-width: 30ch;

                span {
                    display: block;
                }

                &:hover {
                    color: #0096fc;
                }
            }
        }

        .Footer-copyright {
            padding-top: 20px;
            
            p {
                text-align: center;
                color: #000000;
                font-family: var(--text-font);
                margin: 0;
            }
        }
    }
    
</style>