---
import "@/css/links-icons.css";
import LANGUAGES from "@/i18n/index.js";
import { LINKS } from "@/utils/RedesUtils";

const locale = Astro.currentLocale;

const QUESTIONS = LANGUAGES.get(locale)?.preguntas_frecuentes.questions;
---


<section class="Question-and-anwsers">

    <div class="content container">
    {
        QUESTIONS.map(({question, anwser, links}) => {


            return <details>
                <summary>{question}</summary>

                <article>
                    {
                        anwser?.map(value => {

                            return <p>{value}</p>
                        })
                    }

                    <div class="helper-links">
                        {
                            links?.map((value = '') => {

                                if(value.startsWith('link:')){

                                    const [_, name] = value.split(':');
                                    const {label, link} = LINKS[name];

                                    return <a class="icon-link" href={link}>{label}</a>
                                }

                                return <a class="icon-link" href={value}>{value}</a>
                            })
                        }
                    </div>

                    <hr />
                </article>
            </details>
        })
    }
    </div>
</section>

<style>
    .Question-and-anwsers {
        background-color: #fff;
        padding-block: 50px;

        .content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            details {
                padding: 20px 20px;
                list-style: none;
                
                summary {
                    display: block;
                    text-align: center;
                    font-size: clamp(20px, 5vw, 30px);
                    letter-spacing: 2px;
                    color: #040e5f;
                    text-wrap: balance;
                }

                article {
                    padding-top: 20px;
                    margin-inline: auto;
                    max-width: 80ch;

                    p {
                        font-family: var(--text-font);
                        font-size: clamp(14px, 2vw, 16px);
                        letter-spacing: 1px;
                        color: #000;
                        line-height: 1.8;
                    }

                    .helper-links {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 15px;
                        justify-content: start;

                        a {
                            text-decoration: none;
                            font-family: var(--text-font);
                            color: #040e5f;
                            font-size: clamp(14px, 2vw, 16px);

                            &:hover {
                                color: #0096fc;
                            }
                        }
                    }

                    hr {
                        width: 90%;
                        margin-inline: auto;
                        border-color: #040e5f;
                        border-width: 2px;
                        opacity: 1;
                    }
                }

            }

            details:last-child article hr{
                display: none;
            }
        }
    }

    
</style>