---
import Layout from "@layouts/Layout.astro";
import video from "@assets/videos/administrativo/administrativo.webm";
import video_md from "@assets/videos/administrativo/administrativo.mp4";
import poster from "@assets/videos/administrativo/administrativo.webp";

//import Banner from "@components/Banner.astro";
import Banner from "@components/Banner.astro";

import {SERVICES_PRICING} from "@/config/index.js";
import LANGUAGES from "@/i18n/index.js";
import Price from "@/components/servicios/Price.astro";
import PayMethods from "@/components/servicios/PayMethods.astro";
import Contact from "@/components/home/Contact.astro";
import Quote from "@/components/servicios/Quote.astro";
import TechStack from "@/components/servicios/TechStack.astro";
import {STACK_2} from "@assets/logos/index.js";

import video2 from "@assets/videos/administrativo.mp4";
import VideoJS from "@/components/VideoJS.astro";

const LANG = LANGUAGES.get(Astro.currentLocale)?.servicios['asistente-administrativo'];
---

<Layout title="Asistente administrativo Jr.">

    <Banner>

        <Fragment slot="video-sources">
            <source data-type="desktop" data-src={video} data-poster={poster.src}/>
            <source data-type="mobile" data-src={video_md} data-poster={poster.src}/>
        </Fragment>

        <h1 class="banner-title">{LANG.banner.title}</h1>
        
        <h2 class="banner-subtitle">
            {LANG.banner.heading.at(0)} {750} {LANG.banner.heading.at(1)}
        </h2>

    </Banner>

    <section class="About-service">
        <div class="About-service-content">

            <!-- <Quote text={LANG.quote} /> -->

            <VideoJS className="About-service-video" controls>
                <source src={video2} type="video/mp4">
            </VideoJS>
        </div>

        <TechStack icons={STACK_2} title={LANG["tech-stack-title"]}/>
    </section>

    <Price LANG={LANG.pricing} price={SERVICES_PRICING['asistente-administrativo']} />

    <PayMethods />

    <Contact />

</Layout>

<style>
    :global(.Split-Banner) {

        height: 50vw;
        max-height: 90vh;

        .Banner-content {
            --banner-content-padding: 50px 50px;
            align-items: center;
            gap: 30px;
        }

        @media (max-width: 767.98px) {

            height: 60vh;

            .Banner-content {
                --banner-content-padding: 50px 50px;
                align-self: center;
            }

            video {
                object-position: bottom;
            }
        }
    }
    :global(.Banner-background){
            
        /*background: radial-gradient(circle, #0000001e 0%, transparent 100%);*/
        background: linear-gradient(90deg, #aaaaaa6b 20%, transparent 100%);
    }

    .banner-title {
        margin-inline: auto;
        font-weight: bolder;
        font-size: clamp(40px, 8vw, 100px);
        text-align: center;
        text-shadow: 0px 8px 5px #00000020;
        letter-spacing: 8px;
        line-height: 1.5;
        color: #ffffff;
        max-width: 50ch;
    }
    .banner-subtitle {
        margin-inline: auto;
        font-weight: bold;
        text-align: center;
        font-size: clamp(18px, 5vw, 35px);
        text-shadow: 0px 8px 5px #00000020;
        letter-spacing: 5px;

        max-width: 60ch;
        color: #175a86;

        & :global(span) {
            color: #1da1d2;
        }

        @media (max-width: 767.98px) {
            /* margin-top: auto; */
            color: #555;
        }
    }
    :global(.Service-price-title) {
        color: #0088ee;
    }

    .About-service {
        padding-block: 100px 50px;
        background-color: #e0e0e0;
        
        .About-service-content {
            padding-inline: 50px;
            padding-bottom: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
            
            @media (max-width: 767.98px) {
                padding-inline: 20px;
            }

            .extra-content {
                min-width: 400px;
                flex-grow: 1;
            }
        }

        .About-service-video {

            width: 560px;
            height: 315px;
            display: block;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px #00000030;
        }
        
    }
    .About-service :global(.Tech-stack){
        background-color: #ffffffaa;
    }
</style>