---
import Layout from "@layouts/Layout.astro";
import video from "@assets/videos/cliente/cliente-desktop-2.mp4";
import video_md from "@assets/videos/cliente/cliente-mobile.mp4";
import poster from "@assets/videos/cliente/cliente.webp";
import poster_md from "@assets/videos/cliente/cliente-mobile.png";
import Banner from "@components/Banner.astro";



import LANGUAGES from "@/i18n/index.js";
import { STACK_3 } from "@/assets/logos";
import Price from "@/components/servicios/Price.astro";
import PayMethods from "@/components/servicios/PayMethods.astro";
import { SERVICES_PRICING } from "@/config";
import Contact from "@/components/home/Contact.astro";
import TechStack from "@/components/servicios/TechStack.astro";
import Quote from "@/components/servicios/Quote.astro";

const LANG = LANGUAGES.get(Astro.currentLocale)?.servicios['atencion-al-cliente'];
---

<Layout title="Atencion al Cliente">

    <Banner>

        <Fragment slot="video-sources">
            <source data-type="desktop" data-src={video} data-poster={poster.src}/>
            <source data-type="mobile" data-src={video_md} data-poster={poster_md.src}/>
        </Fragment>

        <h1 class="banner-title">{LANG.banner.title}</h1>
        
        <h2 class="banner-subtitle">
            {LANG.banner.heading.at(0)} {750} {LANG.banner.heading.at(1)}
        </h2>

    </Banner>

    <section class="About-service">
        <div class="About-service-content">
            <Quote text={LANG.quote} />

            <div class="extra-content"></div>
        </div>

        <TechStack icons={STACK_3} title={LANG["tech-stack-title"]}/>
    </section>

    <Price LANG={LANG.pricing} price={SERVICES_PRICING['atencion-al-cliente']}/>

    <PayMethods />

    <Contact />

</Layout>

<style>
    :global(.Banner) {

        height: 50vw;
        max-height: 90vh;
        
        .Banner-content {
            --banner-content-padding: 30px 50px 50px 50px;
            align-items: center;
            gap: 20px;
        }

        @media (max-width: 767.98px) {

            height: 70vh;

            .Banner-content {
                --banner-content-padding: 50px 50px;
                align-self: center;
            }

            video {
                object-position: bottom;
            }
        }
    }
    .banner-title {
        margin-inline: auto;
        font-weight: bolder;
        font-size: clamp(40px, 8vw, 130px);
        text-align: center;
        text-shadow: 0px 8px 5px #00000020;
        letter-spacing: 5px;
        line-height: 1.5;
        color: #ffffff;
        max-width: 50ch;
    }
    .banner-subtitle {
        margin-inline: auto;
        font-weight: bold;
        text-align: center;
        font-size: clamp(18px, 3vw, 35px);
        text-shadow: 0px 8px 5px #00000030;
        letter-spacing: 5px;

        max-width: 60ch;
        color: #fff;

        & :global(span) {
            color: #1da1d2;
        }
    }

    :global(.Service-price-title) {
        color: #00b1c5;
    }

    .About-service {
        padding-block: 50px;
        background-color: #005487;
        
        .About-service-content {
            padding-inline: 50px;
            padding-bottom: 100px;
            display: flex;
            flex-wrap: wrap;
            
            @media (max-width: 767.98px) {
                padding-inline: 20px;
            }

            .extra-content {
                min-width: 400px;
                flex-grow: 1;
            }
        }
        
    }
    .About-service :global(.Tech-stack){
        background-color: #ffffffaa;
        --tech-icon-height: 40px;
    }
</style>