---
import Layout from "@layouts/Layout.astro";
import video from "@assets/videos/banner-servicios/banner-servicios.webm";
import poster from "@assets/videos/banner-servicios/banner-servicios.webp";
import Banner from "@components/Banner.astro";
import SIZES from "@/utils/16x9-Resolution.js";


import LANGUAGES from "@/i18n/index.js";

const LANG = LANGUAGES.get(Astro.currentLocale)?.servicios.home;

const services = [
    {
        url: '/servicios/atencion-al-cliente',
        video: (await import('@assets/videos/cliente/cliente.webm')).default,
        poster: (await import('@assets/videos/cliente/cliente.webp')).default,
    },
    {
        url: '/servicios/prospeccion-b2b',
        video: (await import('@assets/videos/prospeccion/prospeccion.webm')).default,
        poster: (await import('@assets/videos/prospeccion/prospeccion.webp')).default,
    },
    {
        url: '/servicios/asistente-administrativo',
        video: (await import('@assets/videos/administrativo/administrativo.webm')).default,
        poster: (await import('@assets/videos/administrativo/administrativo.webp')).default,
    },
    {
        url: '/servicios/supervisor-de-ventas',
        video: (await import('@assets/videos/ventas/ventas.webm')).default,
        poster: (await import('@assets/videos/ventas/ventas.webp')).default,
    },
    {
        url: '/servicios/vendedor-telefonico',
        video: (await import('@assets/videos/vendedor/vendedor.webm')).default,
        poster: (await import('@assets/videos/vendedor/vendedor.webp')).default,
    },
    {
        url: '/servicios/gestion',
        video: (await import('@assets/videos/gestion/gestion.webm')).default,
        poster: (await import('@assets/videos/gestion/gestion.webp')).default,
    },
]
---

<Layout title="Servicios">

    <Banner background={{video, poster}}>

        <h1 class="banner-title">{LANG.banner.title}</h1>
        
        <h2 class="banner-subtitle" set:html={LANG.banner.subtitle}></h2>

    </Banner>


    <section class="Servicios-content">

        {
            LANG.cards.map(({title, description}, i) => {

                const {url, video, poster} = services[i]

                return <div class="Servicios-card">

                    <video src={video} poster={poster.src} muted autoplay loop />

                    <h3>{title}</h3>
                    <p>{description}</p>

                    <a href={url}>{LANG.card_bottom_link}</a>
                </div>
            })
        }

    </section>

</Layout>

<style>
    :global(.Banner-content) {

        gap: 30px;
    }
    .banner-title {
        margin-inline: auto;
        font-weight: bolder;
        font-size: 70px;
        text-align: center;
        text-shadow: 0px 8px 5px #00000050;
        letter-spacing: 5px;
        line-height: 1.5;
        color: #37738b;
        max-width: 50ch;
    }
    .banner-subtitle {
        margin-inline: auto;
        font-weight: bold;
        text-align: center;
        font-size: 35px;
        line-height: 1.4;
        text-shadow: 0px 8px 5px #00000050;
        letter-spacing: 5px;

        max-width: 60ch;
        color: #fff;

        & :global(span) {
            color: #1da1d2;
        }
    }


    .Servicios-content {
        padding: 100px 50px;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 350px));
        justify-content: center;
        place-items: stretch center;
        gap: 50px 50px;

        .Servicios-card {
            overflow: hidden;
            border-radius: 10px;
            padding-bottom: 20px;
            background-color: #fff;

            box-shadow: 0px 0px 10px 0px #00000030;

            display: flex;
            flex-direction: column;

            video, p {
                width: 100%;
                margin-bottom: 10px;
            }
            h3, p, a {
                padding-inline: 20px;
            }

            a {
                display: block;
                padding-top: 20px;
                margin-top: auto;
                text-decoration: none;
                font-family: var(--titles-font);
                letter-spacing: 1px;

                &::after {
                    content: '\f285';
                    vertical-align: bottom;
                    font-size: 0.9em;
                    font-family: 'bootstrap-icons';
                }
            }
        }
    }
</style>