---
import Layout from "@layouts/Layout.astro";
import video from "@assets/videos/prospeccion/prospeccion.webm";
import poster from "@assets/videos/prospeccion/prospeccion.webp";
import Banner from "@components/Banner.astro";

import LANGUAGES from "@/i18n/index.js";
import Price from "@/components/servicios/Price.astro";
import PayMethods from "@/components/servicios/PayMethods.astro";
import { SERVICES_PRICING } from "@/config";
import Contact from "@/components/home/Contact.astro";
import Quote from "@/components/servicios/Quote.astro";
import TechStack from "@/components/servicios/TechStack.astro";
import { STACK_1 } from "@/assets/logos";
import Stats from "@/components/servicios/Stats.astro";

const LANG = LANGUAGES.get(Astro.currentLocale)?.servicios['prospeccion-b2b'];
---

<Layout title="Prospeccion B2B">

    <Banner background={{video, poster}}>

        <h1 class="banner-title">{LANG.banner.title}</h1>
        
        <h2 class="banner-subtitle">
            {LANG.banner.heading.at(0)} {750} {LANG.banner.heading.at(1)}
        </h2>

        
    </Banner>

    <section class="About-service">
        <div class="About-service-content">
            <Quote text={LANG.quote} />

            <Stats LANG={LANG} />
        </div>

        <TechStack icons={STACK_1} title={LANG["tech-stack-title"]}/>
    </section>

    <Price LANG={LANG.pricing} price={SERVICES_PRICING['prospeccion-b2b']}/>

    <PayMethods />

    <Contact />

</Layout>

<style>
    :global(.Banner-content) {

        gap: 30px;
    }
    .banner-title {
        margin-inline: auto;
        font-weight: bolder;
        font-size: 70px;
        text-align: center;
        text-shadow: 0px 8px 5px #00000050;
        letter-spacing: 5px;
        line-height: 1.5;
        color: #37738b;
        max-width: 50ch;
    }
    .banner-subtitle {
        margin-inline: auto;
        font-weight: bold;
        text-align: center;
        font-size: 35px;
        text-shadow: 0px 8px 5px #00000050;
        letter-spacing: 5px;

        max-width: 60ch;
        color: #fff;

        & :global(span) {
            color: #1da1d2;
        }
    }

    :global(.Service-price-title){
        color: #ffa340;
    }

    .About-service {
        padding-block: 50px;
        background-color: #feca90;
        
        .About-service-content {
            padding-inline: 50px;
            padding-bottom: 100px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        } 
    }
    .About-service :global(.Tech-stack){
        background-color: #e4e4e4aa;
        --tech-icon-width: 100px;
        --tech-icon-gap: 50px;
    }
</style>