---
import Layout from "@layouts/Layout.astro";
import video from "@assets/videos/vendedor/vendedor-desktop.mp4";
import video_md from "@assets/videos/vendedor/vendedor-mobile.mp4";
import poster from "@assets/videos/vendedor/vendedor-desktop.webp";
import poster_md from "@assets/videos/vendedor/vendedor-mobile.png";
import Banner from "@components/Banner.astro";

import LANGUAGES from "@/i18n/index.js";
import Price from "@/components/servicios/Price.astro";
import PayMethods from "@/components/servicios/PayMethods.astro";
import { SERVICES_PRICING } from "@/config";
import Contact from "@/components/home/Contact.astro";

const LANG = LANGUAGES.get(Astro.currentLocale)?.servicios['vendedor-telefonico'];
---

<Layout title="Vendedor telefonico">

    <Banner>

        <Fragment slot="video-sources">
            <source data-type="desktop" data-src={video} data-poster={poster.src}/>
            <source data-type="mobile" data-src={video_md} data-poster={poster_md.src}/>
        </Fragment>

        <h1 class="banner-title">{LANG.banner.title}</h1>
        
        <h2 class="banner-subtitle">
            {LANG.banner.heading.at(0)} {750} {LANG.banner.heading.at(1)}
        </h2>
        
    </Banner>

    <Price LANG={LANG.pricing} price={SERVICES_PRICING['vendedor-telefonico']} />

    <PayMethods />


    <Contact />

</Layout>

<style>
    :global(.Banner) {

        height: 50vw;
        max-height: 90vh;

        .Banner-content {
            --banner-content-padding: 20px 50px 50px 50px;
            align-items: center;
            gap: 10px;

        }
        
        .Banner-background {
            
            background: radial-gradient(circle, #ffffff33 0%, transparent 100%);
        }

        @media (max-width: 767.98px) {

            height: 75vh;

            .Banner-content {
                --banner-content-padding: 50px 50px;
                align-self: center;
            }

            video {
                object-position: 50% 80%;
            }
        }
    }
    .banner-title {
        margin-inline: auto;
        font-weight: bolder;
        font-size: clamp(40px, 8vw, 130px);
        text-align: center;
        text-shadow: 0px 8px 5px #00000020;
        letter-spacing: 5px;
        line-height: 1.5;
        color: #6b40bc;
        max-width: 50ch;
    }
    .banner-subtitle {
        margin-inline: auto;
        font-weight: bold;
        text-align: center;
        font-size: clamp(18px, 3vw, 35px);
        text-shadow: 0px 8px 5px #00000020;
        letter-spacing: 5px;

        max-width: 60ch;
        color: #656565;

        & :global(span) {
            color: #1da1d2;
        }
    }
</style>